<footer>
    <div class="header">
        <img class="logoWhite" src=".././assets/logo-white.svg" alt="Easybank" />
        <div class="mediaLinks">
            <a href="https://es-la.facebook.com/" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://www.youtube.com/?gl=AR&hl=es-419" target="_blank">
            <i class="fab fa-youtube-square"></i>
            </a>
            <a href="https://twitter.com/?lang=es" target="_blank">
            <i class="fab fa-twitter"></i>
            </a>
            <a href="https://ar.pinterest.com/" target="_blank">
            <i class="fab fa-pinterest"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
            <i class="fab fa-instagram"></i>
            </a>

        </div>
    </div>
    <ul class="footerLinks">
        <li>About Us</li>
        <li>Contact</li>
        <li>Blog</li>
        <li>Careers</li>
        <li>Support</li>
        <li>Privacy Policy</li>
    </ul>
    <div class="bottom">
        <button>Request Invite</button>
        <p class="rights">
            © Easybank. All Rights Reserved
        </p>
    </div>
</footer>