@import '../../styles.scss';

section {
    background-color: $neutral-gray;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//DESKTOP
@media (min-width: 1050px) {
    section {
        padding: 30px 10%; 
        padding-bottom: 10%;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 15px;
    } 
}

@media (min-width: 1300px) {
    .container {
        column-gap: 20px;
    }
}


