// VARIABLES
$primary-blue: hsl(233, 26%, 24%);
$primary-green: hsl(136, 65%, 51%);
$primary-cyan: hsl(192, 70%, 51%);

$neutral-dark-blue: hsl(233, 8%, 62%);
$neutral-light-blue: hsl(220, 16%, 96%);
$neutral-gray: hsl(0, 0%, 98%);
$neutral-white: hsl(0, 0%, 100%);

$font-public-sans: 'Public Sans', sans-serif;


//GLOBAL STYLES
html {
    overflow-x: hidden;
    }
body{
    font-family: $font-public-sans;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

button {
    background: linear-gradient(to right, $primary-green, $primary-cyan);
    border: none;
    border-radius: 50px;
    font-family: $font-public-sans;
    font-size: 0.8em;
    font-weight: 700;
    color: $neutral-white;
    padding: 14px 30px;
    &:hover {
        box-shadow: 2px 2px 5px $neutral-dark-blue;
        background: linear-gradient(to right, lighten($primary-green, 5%), lighten($primary-cyan, 5%)); 
    }
    &:active {
        box-shadow: none;
        background: linear-gradient(to right, lighten($primary-green, 15%), lighten($primary-cyan, 15%));
    }
}

h1 {
    font-family: $font-public-sans;
    font-weight: 400;
    color: $primary-blue;
}

h2{
    font-family: $font-public-sans;
    font-weight: 400;
    color: $primary-blue;
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
}

h4{
    font-family: $font-public-sans;
    font-weight: 400;
    color: $primary-blue;
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0px;
}

p{
    font-family: $font-public-sans;
    font-weight: 400;
    color: $neutral-dark-blue;
}

